<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un logement</ion-title>
    <ino-buttons slot="end">
      <ion-button (click) ="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ino-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-label position="floating">Nom du logement: </ion-label>
  <ion-input type="text" placeholder="Nom du logement" [(ngModel)]= "cityDataLogement.title"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Type du logement: </ion-label>
  <ion-input type="text" placeholder="Type du logement" [(ngModel)]= "cityDataLogement.type"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Image: </ion-label>
  <ion-input type="text" placeholder="Image du logement" [(ngModel)]= "cityDataLogement.img"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Prix: </ion-label>
  <ion-input type="text" placeholder="Prix du logement" [(ngModel)]= "cityDataLogement.price"></ion-input>
</ion-item>
</ion-content>
