<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Airbnb
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showForm" (click)="add()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showForm" (click)="add()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="showForm">
    <ion-item>
      <ion-label position="floating">Ville:</ion-label>
      <ion-input type="text" placeholder="Nom de la ville" [(ngModel)]="firebaseData.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Latitude:</ion-label>
      <ion-input type="text" placeholder="Latitude de la ville" [(ngModel)]="firebaseData.lat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Longitude:</ion-label>
      <ion-input type="text" placeholder="Longitude de la ville" [(ngModel)]="firebaseData.lng"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Image:</ion-label>
      <ion-input type="text" placeholder="Image de la ville" [(ngModel)]="firebaseData.img"></ion-input>
    </ion-item>



  </div>

</ion-content>
